.git
.github
.idea
.vscode
.env
.env.*
!.env.example
Dockerfile*
compose*.yml
compose*.yaml
DOCKER.md
node_modules
vendor
public/build
public/hot
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
coverage
npm-debug.log*
yarn-error.log*
